[Unit]
Description=Git Pull Hook Listener

[Service]
Environment=NODE_ENV=production
Environment=WORKING_DIR_PATH=~
Environment=PORT=8000
Environment=AFTER_PULL=yarn install && yarn build
ExecStart=/usr/bin/node ~/pullhook/server.js
# Required on some systems
#WorkingDirectory=/opt/nodeserver
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pullhook
#User=<alternate user>
#Group=<alternate group>
# Environment=NODE_ENV=production PORT=1337

[Install]
WantedBy=multi-user.target